.button {
	width: 100px;
	height: 100px;
	margin: 0 auto 10px auto;
	transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  width: 105px;
  height: 105px;
}

#button1 {
	background-color: #33cc33;
}

#button2 {
	background-color: #b30000;
}

#button3 {
	background-color: #0099ff;
}

#button4 {
	background-color: #e6e600;
}

.gameboard {
	max-width: 480px;
	margin: 20px auto;
}

.top-row {
	display: flex;
	justify-content: center;
}

.mid-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 5px auto;
}

.bot-row {
	display: flex;
	justify-content: center;
}
